.rdvContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.rdvContent {
    display: flex;
    padding: 20px;
}

.rdvContent button { 
    width: 16vw;
    height: 6vh;
}

.rdvBox {
    width: 22vw;
    height: 50vh;
    overflow: scroll;
    margin: 0 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back-color);
}


.rdvBox form {
    width: 100%;
    padding: 10px;
}


@media (max-width: 1199px) { 
    .rdvContainer {
       width: 90vw;
    }
    .rdvContent {
        flex-direction: column;
        padding: 20px;
    }
    .rdvBox {
        width: 80vw;
        margin: 10px 20px;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--back-color);
    }
    .rdvContent button { 
        width: 50vw;
        height: 6vh;
    }
}
